
body {
	/*--------------------------------------------------
	* font-family: sans-serif;
	*--------------------------------------------------*/
}

h1 {
	text-align: left;
	font-weight: bold;
    font-size: 1.5em;
    margin: 1em 0em 0.4em;
}

h2 {
	text-align: left;
	font-weight: bold;
	font-size: 1em;

	margin: 1em 0em 0.4em;
	padding: 0em;
}

a {
	text-decoration: none;
	font-weight: bold;
}
a:hover {
	color: pink;
}

.filelist .file:nth-child(2n+2) div {
    background-color: #f5f5f5;
}

.filelist .file {
    clear: left;
}
.filelist .file div {
    float: left;
}
.filelist .file .size {
    text-align: right;
    width: 6em;
    margin-right: 0.5em;
}
.filelist .file .name {
    min-width: 30em;
}

.clear {
    clear: both;
}


